<canvas id="canvas_koch" width="400" height="400" style="border:1px solid black"></canvas>

<script>
function koch(d, depth) {
    d.clearCanvas();
    var v = [
        {x: 3*d.canvasWidth/4, y: 3*d.canvasHeight/4},
        {x: d.canvasWidth/4, y: 3*d.canvasHeight/4},
        {x: d.canvasWidth/2, y: (3-Math.sqrt(3))*d.canvasHeight/4}
    ];

    var q = [];
    q.push({A: v[0], B: v[1], L: 0});
    q.push({A: v[1], B: v[2], L: 0});
    q.push({A: v[2], B: v[0], L: 0});
    while( q.length > 0 ) {
        var seg = q.shift();
        if ( seg.L == depth ) {
            d.drawLine(seg.A.x, seg.A.y, seg.B.x, seg.B.y);
            while( q.length > 0 ) {
                var seg = q.shift();
                d.drawLine(seg.A.x, seg.A.y, seg.B.x, seg.B.y);
            }
        }
        else {
            var a = {x: (2*seg.A.x + seg.B.x) / 3, y: (2*seg.A.y + seg.B.y) / 3};
            var b = {x: (seg.A.x + 2*seg.B.x) / 3, y: (seg.A.y + 2*seg.B.y) / 3};
            var diff = {x: a.x - b.x, y: a.y - b.y};
            var c = {
                x: diff.x / 2 - Math.sqrt(3) * diff.y / 2 + b.x,
                y: Math.sqrt(3) * diff.x / 2 + diff.y / 2 + b.y};
            q.push({A: seg.A, B: a, L: seg.L+1});
            q.push({A: a, B: c, L: seg.L+1});
            q.push({A: c, B: b, L: seg.L+1});
            q.push({A: b, B: seg.B, L: seg.L+1});
        }
    }
}

function koch_loop(drawer, depth, maxDepth) {
    koch(drawer, depth);
    var nextDepth = (depth + 1) % maxDepth;
    setTimeout(koch_loop, 1500, drawer, nextDepth, maxDepth);
}

koch_loop(new Drawer("canvas_koch"), 0, 5);

</script>
