<canvas id="canvas_sierpinski_recursive" width="400" height="400" style="border:1px solid black"></canvas>

<script>
var tcolor = "#aa0000";

function recurhelper(drawer, a, b, c, depth) {
    if ( depth == 0 ) return;
    var m = {x: (a.x+b.x)/2, y: (a.y+b.y)/2};
    var n = {x: (a.x+c.x)/2, y: (a.y+c.y)/2};
    var p = {x: (b.x+c.x)/2, y: (b.y+c.y)/2};
    drawer.triangle(m, n, p, tcolor);
    recurhelper(drawer, a, m, n, depth-1);
    recurhelper(drawer, m, b, p, depth-1);
    recurhelper(drawer, n, p, c, depth-1);
}

function sierpinRecursive(drawer, depth) {
    drawer.clearCanvas();
    var v = [
        {x: drawer.canvasWidth, y: drawer.canvasHeight},
        {x: 0, y: drawer.canvasHeight},
        {x: drawer.canvasWidth/2, y: 0}
    ];
    drawer.triangle(v[0], v[1], v[2], tcolor);
    recurhelper(drawer, v[0], v[1], v[2], depth);
}

function go_sierpinski_recursive(drawer, depth, maxDepth) {
    sierpinRecursive(drawer, depth);
    var nextDepth = (depth + 1) % maxDepth;
    setTimeout(go_sierpinski_recursive, 1500, drawer, nextDepth, maxDepth);
}

go_sierpinski_recursive(new Drawer("canvas_sierpinski_recursive"), 0, 7);

</script>
